<%= form_with(model: event_hist) do |form| %>
  <% if event_hist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_hist.errors.count, "error") %> prohibited this event_hist from being saved:</h2>

      <ul>
        <% event_hist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :sign_in %>
    <%= form.check_box :sign_in %>
  </div>

  <div class="field">
    <%= form.label :point_recv %>
    <%= form.number_field :point_recv %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
