<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size:28px;">
  <div class="container-fluid">
    <%= link_to image_tag("logo.png", :size => "80x80" ), admin_root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <%= link_to "Home", event_hists_path, class:"nav-link" %>
        <%= link_to "Approval List", event_hists_path, class:"nav-link" %>
        <%= link_to "Leaderboard", events_path, class:"nav-link" %>
        <%= link_to "Calendars", poin_events_path, class:"nav-link" %>
        <%= link_to "Announcements", referrals_path, class:"nav-link" %>
        <div class="dropdown">
          <div id="imageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag(current_user.avatar_url, :size => "80x80" ) %>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="imageDropdown">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 1</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 2</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 3</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 4</a></li>
          </ul>
        </div>
        
        <%= link_to "Sign Out", destroy_user_session_path, class:"nav-link" %>
      </div>
    </div>
  </div>
</nav>