<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Event name</th>
      <th>Event type</th>
      <th>Event date</th>
      <th>Description</th>
      <th>Event creator</th>
      <th>Virtual</th>
      <th>Password</th>
      <th>Meeting link</th>
      <th>Signin time</th>
      <th>Point val</th>
      <th>Graphics</th>
      <th>Total event hr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_id %></td>
        <td><%= event.event_name %></td>
        <td><%= event.event_type %></td>
        <td><%= event.event_date %></td>
        <td><%= event.description %></td>
        <td><%= event.event_creator %></td>
        <td><%= event.virtual %></td>
        <td><%= event.password %></td>
        <td><%= event.meeting_link %></td>
        <td><%= event.signin_time %></td>
        <td><%= event.point_val %></td>
        <td><%= event.graphics %></td>
        <td><%= event.total_event_hr %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
