<p id="notice"><%= notice %></div>

<div class="container">

  <h1><%= @event.event_name %></h1>

  <div class="d-flex flex-column bd-highlight mb-3">

    <div class="p-2 bd-highlight">
      <strong>Event ID: </strong> 
      <%= @event.event_id %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Event name:</strong>
      <%= @event.event_name %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Event type:</strong>
      <%= @event.event_type %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Event date:</strong>
      <%= @event.event_date %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Description:</strong>
      <%= @event.description %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Event creator:</strong>
      <%= @event.event_creator %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Virtual:</strong>
      <%= @event.virtual %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Password:</strong>
      <%= @event.password %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Meeting link:</strong>
      <%= @event.meeting_link %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Signin time:</strong>
      <%= @event.signin_time %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Point val:</strong>
      <%= @event.point_val %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Graphics:</strong>
      <%= @event.graphics %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Total event hr:</strong>
      <%= @event.total_event_hr %>
    </div>
    
  </div>

<%= link_to 'Edit', edit_event_path(@event), class:"btn btn-secondary text-light" %>
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-secondary text-light" %>
<%= link_to 'Sign In', new_event_hist_path(@event), class:"btn btn-secondary text-light" %>
<%= link_to 'Back', events_path, class:"btn btn-secondary text-light" %>

</div>
