<h1>My Event History</h1>
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Sign in</th>
      <th>Point recv</th>
      <th colspan="3"></th>
      <br>
    </tr>
  </thead>
  <tbody>
    <% @event_hists.each do |event_hist| %>
      <tr>
        <td><%= event_hist.event_id if event_hist.user_id == current_user.id %></td>
        <td><%= event_hist.user_id if event_hist.user_id == current_user.id %></td>
        <td><%= event_hist.sign_in if event_hist.user_id == current_user.id %></td>
        <td><%= event_hist.point_recv if event_hist.user_id == current_user.id %></td>
        <td><%= link_to 'Show', event_hist if event_hist.user_id == current_user.id %></td>
        <br>
      </tr>
    <% end %>

  </tbody>
</table>
